#sauna1 {
  width: 1000px;
}

.allClavistas {
  position: absolute;
  width: 100px;
  /* height: 400px; */
}

.beer {
  position: absolute;
  height: 80px;
}

#divWithBeer {
  position: absolute;
  top: 0px;
  left: 250px;
}

#adam {
  position: absolute;
}

#marty {
  position: absolute;
}

#uffe{
    position: absolute;
    height: 150px;
    left: 200px;
}

/* new */
